* {
  box-sizing: border-box;
}

#grid {   /*CSSgrid*/
 display: grid;
 gap: 7px;
 border: 2px solid black;
 width: 960px;
}

.cell {
  display: flex;
  border: 2px solid black;
  width: 10px;
  height: 10px;
}